apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${NAMESPACE}

resources:
  - manifests/namespace-backdoor.yaml
  - manifests/serviceaccount-breakglass-admin.yaml
  - manifests/clusterrolebinding-breakglass-admin.yaml
  - manifests/secret-kubeconfig.yaml
  - manifests/deployment-ssh-remote-fwd.yaml
  - manifests/cronjob-token-renewal.yaml

configMapGenerator:
  - name: tunnel-config
    literals:
      - BASTION_DATA_DIR=${BASTION_DATA_DIR}
      - BASTION_LISTEN_ADDR=${BASTION_LISTEN_ADDR}
      - BASTION_LISTEN_PORT=${BASTION_LISTEN_PORT}
      - BASTION_SSH_HOST=${BASTION_SSH_HOST}
      - BASTION_SSH_HOST_KEY=${BASTION_SSH_HOST_KEY}
      - BASTION_SSH_PORT=${BASTION_SSH_PORT}
      - BASTION_SSH_PUBLIC_HOST=${BASTION_SSH_PUBLIC_HOST}
      - BASTION_SSH_USER=${BASTION_SSH_USER}
      - CLUSTER_NAME=${CLUSTER_NAME}
      - DEBUG=${DEBUG}
      - TOKEN_LIFETIME=${TOKEN_LIFETIME}
      - TOKEN_RENEWAL_INTERVAL=${TOKEN_RENEWAL_INTERVAL}
  - name: scripts
    files:
      - manifests/scripts/publish-kubeconfig.sh
      - manifests/scripts/ssh-tunnel.sh

secretGenerator:
  - name: ssh-private-key
    files:
      - id_ed25519=id_ed25519

generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      kind: Namespace
      name: backdoor
    patch: |-
      - op: replace
        path: /metadata/name
        value: ${NAMESPACE}
  - target:
      kind: CronJob
      name: token-renewal
    patch: |-
      - op: replace
        path: /spec/schedule
        value: ${TOKEN_RENEWAL_INTERVAL}
