apiVersion: batch/v1
kind: CronJob
metadata:
  name: token-renewal
  namespace: backdoor
spec:
  # Configurable schedule for token renewal
  schedule: ${TOKEN_RENEWAL_INTERVAL}
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: token-renewal
        spec:
          restartPolicy: OnFailure
          serviceAccountName: breakglass-admin
          containers:
          - name: token-renewal
            image: pschmitt/debug:latest
            command: ["/bin/sh", "/scripts/publish-kubeconfig.sh"]
            env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            envFrom:
            - configMapRef:
                name: tunnel-config
            volumeMounts:
            - name: ssh-private-key
              mountPath: /keys
              readOnly: true
            - name: scripts
              mountPath: /scripts

          volumes:
          - name: ssh-private-key
            secret:
              secretName: ssh-private-key
              defaultMode: 0444
          - name: scripts
            configMap:
              name: scripts
              defaultMode: 0555
