apiVersion: batch/v1
kind: CronJob
metadata:
  name: kubeconfig-transfer
  namespace: backdoor
spec:
  # Hourly transfer of kubeconfig from secret
  schedule: "*/30 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: kubeconfig-transfer
        spec:
          restartPolicy: OnFailure
          serviceAccountName: breakglass-admin
          containers:
          - name: kubeconfig-transfer
            image: pschmitt/debug:latest
            command: ["/bin/sh", "/scripts/kubeconfig-manager.sh", "transfer"]
            env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            envFrom:
            - configMapRef:
                name: tunnel-config
            volumeMounts:
            - name: ssh-private-key
              mountPath: /keys
              readOnly: true
            - name: scripts
              mountPath: /scripts

          volumes:
          - name: ssh-private-key
            secret:
              secretName: ssh-private-key
              defaultMode: 0444
          - name: scripts
            configMap:
              name: scripts
              defaultMode: 0555
