apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssh-remote-fwd
  namespace: backdoor
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: ssh-remote-fwd
  template:
    metadata:
      labels:
        app: ssh-remote-fwd
    spec:
      terminationGracePeriodSeconds: 5
      serviceAccountName: breakglass-admin
      initContainers:
      - name: kubeconfig-tx
        image: pschmitt/debug:latest
        command: ["/bin/sh", "/scripts/kubeconfig-manager.sh", "renew"]
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        envFrom:
        - configMapRef:
            name: tunnel-config
        volumeMounts:
        - name: ssh-private-key
          mountPath: /keys
          readOnly: true
        - name: scripts
          mountPath: /scripts

      containers:
      - name: ssh-remote-fwd
        image: pschmitt/debug:latest
        command: ["/bin/sh", "/scripts/tunnel-manager.sh"]
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "killall ssh || true"]
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        envFrom:
        - configMapRef:
            name: tunnel-config
        volumeMounts:
        - name: ssh-private-key
          mountPath: /keys
          readOnly: true
        - name: scripts
          mountPath: /scripts

      volumes:
      - name: ssh-private-key
        secret:
          secretName: ssh-private-key
          defaultMode: 0444
      - name: scripts
        configMap:
          name: scripts
          defaultMode: 0555
